#jinja2: trim_blocks: True, lstrip_blocks: True
{% if sonic_prefix_list_cli is defined and sonic_prefix_list_cli %}
    {% for sonic_prefix in sonic_prefix_list_cli %}
        {% for prefix_entires in sonic_prefix.entries %}
ip prefix-list {{ sonic_prefix.name }} seq {{ prefix_entires.seq }} {{ 'permit' if sonic_prefix.permit else 'deny' }} {{ prefix_entires.ip }} {{ prefix_entires.condition if prefix_entires.condition is defined else ''}}
        {% endfor %}
    {% endfor %}
{% endif %}
