{% if sonic_snmp_servers is defined and sonic_snmp_servers and sonic_snmp_servers.snmp_agentaddress is defined%}
    snmp-server agentaddress {{sonic_snmp_servers.snmp_agentaddress.host}} {{sonic_snmp_servers.snmp_agentaddress.source_interface}}
{% endif %}

{% if sonic_snmp_servers is defined and sonic_snmp_servers%}
    {% if sonic_snmp_servers.enable_trap is defined and sonic_snmp_servers.enable_trap%}
        snmp-server enable trap
    {% endif %}
    {% if sonic_snmp_servers.location is defined and sonic_snmp_servers.location%}
        snmp-server location {{sonic_snmp_servers.location}}
    {% endif %}
    {% if sonic_snmp_servers.engine is defined and sonic_snmp_servers.engine%}
        snmp-server engine {{sonic_snmp_servers.engine}}
    {% endif %}
    {% if sonic_snmp_servers.contact is defined and sonic_snmp_servers.contact%}
        snmp-server contact {{sonic_snmp_servers.contact}}
    {% endif %}
    {% if sonic_snmp_servers.snmp_groups is defined and sonic_snmp_servers.snmp_groups%}
        {% for snmp_groups in sonic_snmp_servers.snmp_groups %}
            snmp-server group {{snmp_groups.group}} v3 {{snmp_groups.v3_type}} {{snmp_groups.v3_privileges}}
        {% endfor %}
    {% endif %}
    snmp-server user {{sonic_snmp_servers.user_name}} group {{sonic_snmp_servers.group_name}} auth {{sonic_snmp_servers.auth_type}} auth-password {{sonic_snmp_servers.auth_password}} priv {{sonic_snmp_servers.priv_type}} priv-password {{sonic_snmp_servers.priv_password}}
    {% for view in sonic_snmp_servers.views %}
        snmp-server view {{view.permission}} {{view.oid}} {{view.type}}
    {% endfor %}
    {% for host in sonic_snmp_servers.snmp_server_host %}
        {% if host.source_interface is defined and host.source_interface %}
            snmp-server host {{ host.host }} user {{ host.user }} traps priv source-interface {{ host.source_interface }}
        {% else %}
            snmp-server host {{ host.host }} user {{ host.user }} traps {{ host.traps }}
        {% endif %}
    {% endfor %}
{% endif %}
